<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow" text="black">
    <!--INTERPOLATION IN JINJA 2 TEMPLATE....-->
    <h2>Hello welcome {{name}} </h2><br>

    {%  if age>18  %}
    <h2>Congrats {{name}} You are elligible to vote!!!!</h2>
    {%  else  %}
    <h2>Sorry {{name}} You are not elligible to vote!!!!</h2>

    {% endif  %}
    




    </body>
</html>